@font-face {
  font-family: "Pastel";
  src: url('https://chattable.neocities.org/media/pastel.ttf');
}

@-webkit-keyframes tilt {
  0% {
    -webkit-transform: rotateZ(-0.5deg);
    transform: rotateZ(-0.5deg);
  }

  50% {
    -webkit-transform: rotateZ(0.5deg);
    transform: rotateZ(0.5deg);
  }

  100% {
    -webkit-transform: rotateZ(-0.5deg);
    transform: rotateZ(-0.5deg);
  }
}

@keyframes tilt {
  0% {
    -webkit-transform: rotateZ(-0.5deg);
    transform: rotateZ(-0.5deg);
  }

  50% {
    -webkit-transform: rotateZ(0.5deg);
    transform: rotateZ(0.5deg);
  }

  100% {
    -webkit-transform: rotateZ(-0.5deg);
    transform: rotateZ(-0.5deg);
  }
}

@keyframes rev_tilt {
  0% {
    -webkit-transform: rotateZ(0.5deg);
    transform: rotateZ(0.5deg);
  }

  50% {
    -webkit-transform: rotateZ(-0.5deg);
    transform: rotateZ(-0.5deg);
  }

  100% {
    -webkit-transform: rotateZ(0.5deg);
    transform: rotateZ(0.5deg);
  }
}

body {
  font-family: "Pastel", cursive;
  background-image: url('https://i.pinimg.com/736x/d1/f0/4e/d1f04edb51490ffc5145a323e2874be3.jpg');
  background-size: auto 100%;
}

.msgWrapper {
  transition: transform 250ms ease, padding 250ms ease;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.msgWrapper:nth-child(odd) .allMessages {
  animation: tilt 3s linear infinite;
  -webkit-animation: tilt 3s linear infinite;
}

.msgWrapper:nth-child(even) .allMessages {
  animation: rev_tilt 3s linear infinite;
  -webkit-animation: rev_tilt 3s linear infinite;
}

.msgWrapper:has(.msgBody:hover) {
  transform: scale(1.05);
}

.allMessages {
  display: block;
  margin: 5px;
  padding: 10px;
  font-size: 10pt;
  max-width: 80%;
  clear: both;
  transition: box-shadow 100ms ease;
}

.allMessages:hover {
  filter: brightness(105%);
  -webkit-filter: brightness(105%);
  animation-play-state: paused;
  box-shadow: 0 0 5px #FFF;
}

.allMessages.containsOnlyEmojis .emoji {
  height: 50px;
}

.allMessages.pm {
  padding-top: 26px;
}

.allMessages.pm:before {
  content: "Only You Can See This";
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 16px;
  width: calc(100% - 26px);
  line-height: 16px;
  position: absolute;
  right: 26px;
  top: 5px;
  font-size: 8px;
  font-weight: bolder;
  opacity: 0.5;
}

.allMessages.pm:after {
  content: " ";
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-image: url("/media/lock.svg");
  background-size: 100% 100%;
  opacity: 0.5;
}

.sent {
  display: inline-block;
  border-radius: 15px 15px 2px 15px;
  background-color: #fff;
  color: #111;
  position: relative;
}

.senderInfo {
  font-style: italic;
  color: #5b81a3;
  text-transform: uppercase;
  font-weight: 500;
}

.recieved {
  display: inline-block;
  border-radius: 15px 15px 15px 2px;
  background: #c4dcf1;
  color: #536272
    /*!important*/
  ;
  position: relative
    /*!important*/
  ;
}

.msgWrapper:has(.received) {
  justify-content: flex-start;
}

.msgWrapper:has(.sent) {
  justify-content: flex-end;
}

.msgWrapper:has(.received:hover) {
  padding-left: 20px;
}

.msgWrapper:has(.sent:hover) {
  padding-right: 20px;
}

.sent+#timestamp {
  text-align: right;
}

.received+#timestamp {
  text-align: left;
}

blockquote {
  background-color: #EEAABB;
  color: #FFF;
  opacity: 0.90;
  border-right: solid 2px #AAA;
}

#background {
  scrollbar-color: #90b6d6 transparent;
}

#input {
  background-color: #d4ebff;
}

#top_banner {
  background: #d4ebff;
}

.mod,
.owner,
.tester {
  width: 0;
}

.mod::before {
  content: "[MOD]";
  display: inline-block;
  color: #ff69b4;
  position: absolute;
  top: 7px;
  right: 7px;
}

.owner::before {
  content: "[OWNER]";
  display: inline-block;
  color: #ff69b4;
  position: absolute;
  top: 7px;
  right: 7px;
}

.ctxMenuOption {
  margin: 0 !important;
  background-color: #FFBBCC !important;
  color: #111;
}

.ctxMenuOption:nth-child(odd) {
  background-color: #ffd5df !important;
}

.ctxMenuOption:hover {
  color: #FFF;
  text-shadow: 0 0 3px #FFF, 0 0 5px #AAA;
  height: unset;
  padding: 10px 3px 10px 12px !important;
  z-index: 2;
}

.ctxMenuOption:hover+.ctxMenuOption {
  box-shadow: 0 0 3px #000;
  z-index: 3;
}

#ctxMenu {
  background-color: #FFBBCC !important;
}

#emojiTray {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 40px);
  background-color: #c8e3f8;
  box-shadow: 3px 3px 5px #222;
  color: #FFF;
  text-shadow: 1px 1px 3px #A77;
}

#emojiTay img {
  height: 15px;
}

#settingsMenu hr {
  border: none;
  height: 2px;
  background-color: #f7dfff;
  width: 100%;
}

#settingsMenu input[type=text] {
  width: 100%;
  border: solid 1px #7db0c4;
  border-radius: 1em;
  background-color: #FFF;
  color: #97ccf7;
  outline: none !important;
}

#settingsMenu input[type=text]:focus {
  border: solid 2px #b8e9fc;
}

#save {
  border: solid 2px #d1aec0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d1aec0;
  font-weight: bolder;
  font-size: 12pt;
  padding: 5px;
  border-radius: 8PX;
  background-color: #FFF;
}

#is_typing {
  background-color: #ffffff;
  border: solid 1px #b2cee7;
  height: 15px;
  border-radius: 8px;
  left: calc(50% - 15px);
}

#is_typing>span {
  background-color: #b2cee7 ;
}

#timestamp {
  margin: 0;
  font-size: 10pt;
  width: 100%;
}

#settingsMenu hr {
  border: none;
  height: 2px;
  background-color: #d1aec0;
  width: 100%;
}

:where(#emojiTrayToggle) {
  border: 1pt;
  height: 23px;
  width: 23px;
  position: absolute;
  right: 5px;
  top: 1px;
  z-index: 5;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("https://i.imgur.com/F23EWGX.gif");
  background-size: 100% 100%;
}

#input:empty::before {
  content: "Send messages! :3";
  color: rgba(255, 255, 255, 0.918);
}

:where(#settings) {
  margin: 0;
  cursor: pointer;
  position: fixed;
  right: 5px;
  top: 2px;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(https://i.imgur.com/BwDDbsI.png);
  background-size: 100% 100%;
}

#footer {
  color: #5284a1;
}

#loginBanner {
  overflow: hidden;
  background-color: rgb(165, 209, 223);
  color: #FFF !important;
  font-weight: bolder;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  height: 0;
  transition: all 1sease-out;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {

  h1,
  h2,
  p,
  hr {
    margin: 0;
    color: #6f9db7
  }
}

#dltranscript a {
  color: #d1aec0;
}

input[type=checkbox]+label:after {
  content: "No";
  display: inline;
  word-break: break-word;
  font-weight: 12pt;
  color: #d1aec0;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
}

#closeSettingsBtn {
  width: 97%;
  height: 20px;
  background: #ffffff;
  border: #7cb9dd dotted 2px;
  border-radius: 5px;
  color: #6f9db7;
  font-weight: bolder;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px;
}

