@font-face {
    font-family: hachi;
    src: url(font/000webfont.ttf);
    font-weight: bold;
  }

* {
    font-family: hachi;
    font-size: 30px;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    cursor: url(images/chiikawa-hachiware-animated-cursor-2-32x32.png),auto;
}   

body {
    background: url(images/ha02-bg-lace.gif) 0px 80px repeat-y fixed;
}

.container {
    background: rgb(255, 255, 255);
    width: 1050px;
    padding: 8px 0px 8px 0px ;
    margin: 20px auto 0 auto;
    border-width: 10px;
    border-style: solid;
    border-image: url("https://loves1ck.neocities.org/img/soft-lace.png") 7 round;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blended_grid {
    display: grid;
    grid-template-columns: 200px 600px 200px;
    gap: 10px;
}

.pageHeader {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 200px;
    width: 1050px;
    margin: 30px auto 0 auto;
}

.pageHeaderSub {
    grid-column: span 3;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageBarLeft {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pageBarRight {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pageBarLeftTop, .pageBarLeftBottom, 
.pageBarRightTop, .pageBarRightBottom {
    width: 100%;
    height: 295px;
    background-color: rgba(0, 0, 0, 0.5);
}

.pageContent {
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
}

.pageFooter {
    grid-column: span 3;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
}

.pageFooterSub {
    grid-column: span 3;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

marquee {
    width: 500px;
    background-color: #c0d5db;
    border-width: 10px;
    border-style: solid;
    border-image: url("https://loves1ck.neocities.org/img/soft-lace.png") 7 round;
}
