* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: rgb(117, 82, 73);
}

.container {
    background: rgb(255, 255, 255);
    width: 1022px;
    margin: 50px auto 0 auto;
    border-width: 10px;
    border-style: solid;
    border-image: url("https://loves1ck.neocities.org/img/soft-lace.png"
        ) 7 round;
}

.blended_grid {
    display: block;
    width: 1000px;
    overflow: auto;
}

.pageHeader {
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    clear: none;
    height: 200px;
    width: 1000px;
}

.pageHeaderSub {
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    clear: none;
    height: 50px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageBarLeft {
    float: left;
    clear: none;
    min-width: 80px;
    min-height: 80px;
}

.pageBarLeftTop {
    background-color: rgba(0, 0, 0, 0.5);
    float: none;
    clear: both;
    height: 250px;
    width: 200px;
}

.pageBarLeftBottom {
    background-color: rgba(0, 0, 0, 0.5);
    float: none;
    clear: both;
    height: 250px;
    width: 200px;
}

.pageContent {
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    clear: none;
    height: 600px;
    width: 600px;
}

.pageBarRight {
    float: left;
    clear: none;
    min-width: 80px;
    min-height: 80px;
}

.pageBarRightTop {
    background-color: rgba(0, 0, 0, 0.5);
    float: none;
    clear: both;
    height: 250px;
    width: 200px;
}

.pageBarRightBottom {
    background-color: rgba(0, 0, 0, 0.5);
    float: none;
    clear: both;
    height: 250px;
    width: 200px;
}

.pageFooter {
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    clear: none;
    height: 150px;
    width: 1000px;
}

.pageFooterSub {
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    clear: none;
    height: 50px;
    width: 1000px;
}

marquee{
    WIDTH: 500PX;
    BACKGROUND-COLOR: #c0d5db;
    border-width: 10px;
    border-style: solid;
    border-image: url(https://loves1ck.neocities.org/img/soft-lace.png) 7 round;

}
